{% extends 'auth/layout.html' %}
{% block title %}Password reset complete{% endblock title %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
      <a href="/">Vib<b>PoS</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Reset is completed</p>

      <p class="text-center"><i class="fa fa-check-circle text-success font-weight-bolder fa-3x toggleEnvelope"></i></p>
      <p class="text-success font-weight-bold text-center" style="font-size: 24px;">
          Password reset is completed.
      </p>
      <br>

      <a href="{% url 'accounts:login' %}" class="text-primary">You can now sign in</a><br>
    </div>
    <!-- /.login-box-body -->
  </div>
<!-- /.login-box -->
{% endblock content %}
