{% extends 'auth/layout.html' %}
{% block title %}Create new password{% endblock title %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
      <a href="">Vib<b>PoS</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Enter new password</p>
      <div class="text-danger text-center" id="msg">
      </div>
      <form action="" method="POST" id="formReset">
        {% csrf_token %}
        <div class="form-group has-feedback validate">
          <input type="password" name="new_password1" id="password" class="form-control" placeholder="Enter new password" />
          <span class="text-danger small mySpan"></span>
        </div>

        <div class="form-group has-feedback validate">
            <input type="password" name="new_password2" id="confirm_password" class="form-control" placeholder="Confirm new password" />
            <span class="text-danger small mySpan"></span>
          </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-raised btn-block btn-flat btnReset">Change Password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.login-box-body -->
  </div>
<!-- /.login-box -->
{% endblock content %}

{% block scripts %}
<script>
    $("#formReset").on("submit", function(e){
        e.stopPropagation();
        var $this = $(this);
        var valid = true;
        $('#formReset input').each(function() {
            let $this = $(this);
            
            if(!$this.val()) {
                valid = false;
                $this.parents('.validate').find('.mySpan').text('The '+$this.attr('id').replace(/[\_]+/g, ' ')+' field is required');
            }
        });
    
        if (jQuery.trim($("#formReset #password").val()) != jQuery.trim($("#formReset #confirm_password").val())){
          valid = false;
          $("#msg").html('<p class="errornote">The two password fields didn’t match.</p>');
          $("#formReset #password").val('');
          $("#formReset #confirm_password").val('');
        }
        
        if(valid){
            $(".btnReset").html('<i class="fa fa-spin fa-spinner"></i> Changing Password...').attr('disabled',true);
            return true;
        }
        return false;
    });    
</script>
{% endblock scripts %}