{% extends 'admins/layout.html' %}
{% block title %}Departments{% endblock title %}
{% load static %}
{% block styles %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock styles %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Departments
        <small>View</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active">Departments</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="row">
              <div class="col-md-4">
                <div class="box-body">
                  
                  <form class="form-horizontal" id="formAddDepartment" action="">
                    {% csrf_token %}
                    <div class="form-group validate">
                      <div class="col-sm-12">
                        <input type="text" name="name" class="form-control text-primary" placeholder="Enter department name" />
                        <span class="text-danger small mySpan"></span>
                      </div>
                    </div>
                          
                    <div class="form-group">
                      <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btnAddDepartment"><i class="fa fa-dot-circle-o"></i> Add New</button>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                  
                </div>
                <!-- /.box-footer -->
              </div>
              <div class="col-md-7 col-md-offset-1">
                <div class="box-body table-responsive" data-href="{% url 'departments:table'  %}">
                  
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                  
                </div>
                <!-- /.box-footer -->
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>


  <div class="modal fade" id="editModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Department</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="formEditDepartment" action="#">
            {% csrf_token %}
            <div class="form-group validate">
              <div class="col-sm-12">
                <input type="text" class="form-control text-primary" name="name" placeholder="Enter department name">
                <span class="text-danger small mySpan"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btnUpdateDepartment"><i class="fa fa-refresh"></i> UPDATE DEPARTMENT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

{% endblock content %}

{% block scripts %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
  const getDepartmentTable = () => {
    $.ajax({
        url: $(".table-responsive").data('href'),
        type: "GET",
        success: function(response){
            $(".table-responsive").html(response);
        },
        error: function(response){
            console.log(JSON.stringify(response));
        }
    });
  }

  getDepartmentTable();

  // add new customer
  $("#formAddDepartment").on("submit", function(e){
    e.preventDefault();
    e.stopPropagation();
    var valid = true;
    var $this = $(this);
    $('#formAddDepartment input').each(function() {
        let $this = $(this);
        if(!$this.val()) {
            valid = false;
            $this.parents('.validate').find('.mySpan').text('The '+$this.attr('name').replace(/[\_]+/g, ' ')+' field is required');
        }
    });
    if(valid) {
        $('.btnAddDepartment').html('<i class="fa fa-spinner fa-spin"></i> ADDING NEW...').attr('disabled', true);
        let data = $this.serialize();
        $.ajax({
            url: $this.attr('action'),
            type: "POST",
            dateType: "json",
            data: data,
            success: function(response){
                if(response.message=='success'){
                    swal({
                        title: "Added",
                        text: "New department added successful",
                        type: "success",
                        confirmButtonClass: "btn-sm btn-success",
                        confirmButtonText: "OKAY",
                        closeOnConfirm: true
                        },
                    function(){
                        getDepartmentTable();
                        $("#formAddDepartment input:text").val("").focus();
                    });
                }else{
                    swal("Error", response.message, "warning");
                }
                $('.btnAddDepartment').html('<i class="fa fa-plus-circle"></i> ADD NEW').attr('disabled', false);
            },
            error: function(response){
                // console.log(JSON.stringify(response))
                console.log('something wrong with request')
                $('.btnAddDepartment').html('<i class="fa fa-plus-circle"></i> ADD NEW').attr('disabled', false);
            }
        });
    }
    return false;
  });


  $("#formAddDepartment input").on('input', function(){
    if($(this).val()!=''){
        $(this).parents('.validate').find('.mySpan').text('');
    }else{ $(this).parents('.validate').find('.mySpan').text('The '+$(this).attr('name').replace(/[\_]+/g, ' ')+' field is required'); }
  });

</script>
{% endblock scripts %}