{% extends 'admins/layout.html' %}
{% block title %}Candidate positions{% endblock title %}
{% load static %}
{% block styles %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock styles %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Positions
        <small>View</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active">Positions</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="row">
              <div class="col-md-3">
                <div class="box-body">
                  
                  <form class="form-horizontal" id="formPosition" action="">
                    {% csrf_token %}
                    <div class="form-group validate">
                      <div class="col-sm-12">
                        <input type="text" name="name" onkeypress="return preventSpcialChar(event);" class="form-control text-primary" placeholder="Enter position name" />
                        <span class="text-danger small mySpan"></span>
                      </div>
                    </div>
                    
                    <div class="form-group validate">
                      <div class="col-sm-12">
                        <select name="position_type" id="position_type" class="form-control">
                          <option value="">--Select position type--</option>
                          <option value="general">General</option>
                          <option value="department">Department</option>
                        </select>
                        <span class="text-danger small mySpan"></span>
                      </div>
                    </div>

                    <div class="form-group validate">
                      <div class="col-sm-12">
                        <input type="number" min="1" name="max_con" onkeypress="return isNumber(event);" class="form-control text-primary" placeholder="Enter number of contestant" />
                        <span class="text-danger small mySpan"></span>
                      </div>
                    </div>

                    <div class="form-group validate">
                      <div class="col-sm-12">
                        <select name="winning_format" id="winning_format" class="form-control">
                          <option value="majority">Majority</option>
                          <option value="51">50+1</option>
                        </select>
                        <span class="text-danger small mySpan"></span>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btnAddNew"><i class="fa fa-dot-circle-o"></i> Add New</button>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                  
                </div>
                <!-- /.box-footer -->
              </div>
              <div class="col-md-8 col-md-offset-1">
                <div class="box-body table-responsive" data-href="{% url 'candidates:position_table'  %}">
                  
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                  
                </div>
                <!-- /.box-footer -->
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>


  <div class="modal fade" id="editModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit position</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="formUpdatePosition" action="#">
            {% csrf_token %}
            <div class="form-group validate">
              <div class="col-sm-12">
                <input type="text" class="form-control text-primary" onkeypress="return preventSpcialChar(event);" name="name" placeholder="Enter position name">
                <span class="text-danger small mySpan"></span>
              </div>
            </div>

            <div class="form-group validate">
              <div class="col-sm-12">
                <select name="position_type" class="form-control">
                  <option value="general">General</option>
                  <option value="department">Department</option>
                </select>
                <span class="text-danger small mySpan"></span>
              </div>
            </div>

            <div class="form-group validate">
              <div class="col-sm-12">
                <input type="number" min="1" name="max_con" onkeypress="return isNumber(event);" class="form-control text-primary" placeholder="Enter number of contestant" />
                <span class="text-danger small mySpan"></span>
              </div>
            </div>

            <div class="form-group validate">
              <div class="col-sm-12">
                <select name="winning_format" class="form-control">
                  <option value="majority">Majority</option>
                  <option value="51">50+1</option>
                </select>
                <span class="text-danger small mySpan"></span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btnUpdate"><i class="fa fa-refresh"></i> UPDATE POSITION</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

{% endblock content %}

{% block scripts %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
  const getPositionTable = () => {
    $.ajax({
        url: $(".table-responsive").data('href'),
        type: "GET",
        success: function(response){
            $(".table-responsive").html(response);
        },
        error: function(response){
            console.log(JSON.stringify(response));
        }
    });
  }

  getPositionTable();

  // add new customer
  $("#formPosition").on("submit", function(e){
    e.preventDefault();
    e.stopPropagation();
    var valid = true;
    var $this = $(this);
    $('#formPosition input, #formPosition select').each(function() {
        let $this = $(this);
        if(!$this.val()) {
            valid = false;
            $this.parents('.validate').find('.mySpan').text('The '+$this.attr('name').replace(/[\_]+/g, ' ')+' field is required');
        }
    });
    if(valid) {
        $('.btnAddNew').html('<i class="fa fa-spinner fa-spin"></i> ADDING NEW...').attr('disabled', true);
        let data = $this.serialize();
        $.ajax({
            url: $this.attr('action'),
            type: "POST",
            dateType: "json",
            data: data,
            success: function(response){
                if(response.message=='success'){
                    swal({
                        title: "Added",
                        text: "New position added successful",
                        type: "success",
                        confirmButtonClass: "btn-sm btn-success",
                        confirmButtonText: "OKAY",
                        closeOnConfirm: true
                        },
                    function(){
                        getPositionTable();
                        $("#formPosition input[name='name']").val("");
                        $("#formPosition input[name='max_con']").val("");
                        $("#formPosition select[name='position_type']").val("");
                        $("#formPosition select[name='winning_format']").val("majority");
                    });
                }else{
                    swal("Error", response.message, "warning");
                }
                $('.btnAddNew').html('<i class="fa fa-plus-circle"></i> ADD NEW').attr('disabled', false);
            },
            error: function(response){
                // console.log(JSON.stringify(response))
                console.log('something wrong with request')
                $('.btnAddNew').html('<i class="fa fa-plus-circle"></i> ADD NEW').attr('disabled', false);
            }
        });
    }
    return false;
  });


  $("#formPosition input, #formPosition select").on('input', function(){
    if($(this).val()!=''){
        $(this).parents('.validate').find('.mySpan').text('');
    }else{ $(this).parents('.validate').find('.mySpan').text('The '+$(this).attr('name').replace(/[\_]+/g, ' ')+' field is required'); }
  });

  // allower only numbers
  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
  }

  // dont allow . / - _
  function preventSpcialChar(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode == 46 || charCode == 45 || charCode == 47 || charCode==95) {
        return false;
    }
    return true;
  }

</script>
{% endblock scripts %}