{% extends 'voters/layout.html' %}
{% block title %}Welcome, {{ request.session.name }}{% endblock title %}

{% load static %}
{% block styles %}

<style>
  /*basic reset*/
  * {margin: 0; padding: 0;}

  html {height: 100%; background: #ffffff;}

  body {font-family: montserrat, arial, verdana;}
  /*form styles*/
  #msform {
      width: 700px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      margin-top: 25px;
  }

  #msform fieldset {
      background: white;
      border: 0 none;
      border-radius: 3px;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
      padding: 20px 30px;
      text-align: left;

      -moz-box-sizing: border-box;
      width: 100%;

      /*stacking fieldsets above each other*/
      position: absolute;
  }

  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {display: none;}
  /*inputs*/
  #msform input, #msform button, #msform textarea, #msform select {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 100%;
      -moz-box-sizing: border-box;
      color: #2C3E50;
      font-size: 13px;
  }

  /*buttons*/
  #msform .action-button {
      width: 100px;
      background: #27AE60;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 10px 5px;
      margin: 10px 5px;
  }

  #msform .action-button:hover, #msform .action-button:focus {box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;}

  #msform .action-button2 {
      width: 100px;
      background: #dc3545;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 10px 5px;
      margin: 10px 5px;
  }
  #msform .action-button2:hover, #msform .action-button2:focus {box-shadow: 0 0 0 2px white, 0 0 0 3px #dc3545;}

  #msform #submit {
      width: 100px;
      background: #27AE60;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 10px 5px;
      margin: 10px 5px;
  }
  #msform #submit:hover, #msform #submit:focus {box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;}

  /*headings*/
  .fs-title {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-weight: bold;
  }

  .fs-subtitle {
      font-weight: normal;
      font-size: 13px;
      color: #666;
      margin-bottom: 20px;
  }

  /*progressbar*/
  #progressbar {
      margin-bottom: 30px;
      overflow: hidden;
      /*CSS counters to number the steps*/
      counter-reset: step;
      width: 100%;
      text-align: center;
  }

  #progressbar li {
      list-style-type: none;
      color: white;
      text-transform: uppercase;
      font-size: 9px;
      width: 9.1%;
      float: left;
      position: relative;
      text-align: center;
  }

  #progressbar li:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: #333;
      background: white;
      border-radius: 3px;
      margin: 0 auto 5px auto;
  }

  /*progressbar connectors*/
  #progressbar li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: white;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1; /*put it behind the numbers*/
  }

  #progressbar li:first-child:after {/*connector not needed before the first step*/ content: none;}
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,  #progressbar li.active:after{background: #27AE60; color: white;}

  #logo {margin: 25px auto; width: 500px;}

  #logo img {float: left;}

  .clearfix {clear: both;}

  #logo span {
      display: inline-block;
      font-size: 17px;
      vertical-align: middle;
      margin-top: 34px;
      color: #000000;
  }

  td {height: 50px; width:50px;}

  #cssTable td {text-align:center; vertical-align:middle;}

  .hide-all-small-screen{
      display: none !important;
  }

  @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      #msform {
          width: 100%;
          margin: 0 auto;
          text-align: center;
          position: relative;
          margin-top: 25px;
      }

      .hide-all-big-screen{
        display: none !important;
      }

      .hide-all-small-screen{
        display: block !important;
      }

  }

</style>
{% endblock styles %}

{% block content %}

<div class="col-sm-12 mt-2" style="font-size: 12px">
  <span id="demo" class="pull-right text-danger mr-lg-5 mr-md-5 mr-sm-5"></span>
  <a href="{% url 'votes:logout'  %}" class="ml-3 text-primary">{{ request.session.name }}</a> IS VOTING
</div>

<div class="col-sm-12">
  <!-- multistep form -->
  <form id="msform" action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="voter" value="{{ request.session.voter }}" readonly>
      <!-- progressbar -->
      {% for position in position_list %}
          {% if position.candidates.count != 1 %}
          <fieldset>
              <h2 class="fs-title text-primary text-uppercase">{{ position.name }}</h2>
              <table class="table table-hover table-condensed hide-all-big-screen" id="cssTable">
              {% for candidate in position.candidates.all %}
                <tr>
                  <td><img src="{{ candidate.image.url }}" width="120" height="120" class="img-rounded img-responsive img-thumbnail" /></td>
                  <td width="300px" align="center" valign="middle">{{ candidate.name|upper }}</td>
                  <td align="center" valign="middle" width="50px">
                      <button type="button" class="next action-button" name="{{ position.name }}" id="{{ candidate.name }}" onclick="f1(this)"><i class="fa fa-check-square-o"></i> Vote</button>
                  </td>
                </tr>
              {% endfor %}
                <tr>
                    <td>
                        <button type="button" class="next action-button2" name="{{ position.name }}" id="Skipped" onclick="f1(this)"><i class="fa fa-times-circle-o"></i> Skip</button>
                    </td>
                    <td colspan="2"></td>
                </tr>
              </table>

              <div class="row hide-all-small-screen">
              {% for candidate in position.candidates.all %}
                <div class="col-sm-12" align="center" style="margin-top:5% !important; border-bottom:solid; border-width:1px;">
                  <div>
                      <div style="margin-bottom:1% !important;"><strong>{{ candidate.name|upper }}</strong></div>
                      <div><img src="{{ candidate.image.url }}" width="180" height="180" name="{{ position.name }}" id="{{ candidate.name }}" onclick="f1(this)" class="img-rounded img-responsive img-thumbnail next" /></div>
                      <div style="margin-bottom:5% !important;">
                          <button type="button" class="next action-button" name="{{ position.name }}" id="{{ candidate.name }}" onclick="f1(this)" style="width:150px"><i class="fa fa-check-square-o"></i> Vote</button>
                      </div>	
                  </div>		
                </div>
              {% endfor %}
                <div class="col-sm-12" style="margin-top:5% !important; border-bottom:solid; border-width:1px;">
                    <div>
                        <div></div>
                        <div></div>
                        <div>
                            <button type="button" class="next action-button2" name="{{ position.name }}" id="Skipped" onclick="f1(this)"><i class="fa fa-times-circle-o"></i> Skip</button>
                        </div>	
                    </div>		
                </div>
              </div>

              <select name="{{ position.name_underscore }}" id ="{{ position.name }}" class="s_n" style="height: 51px; display:none !important;">
                <option value="Skipped">Skipped</option>
                {% for candidate in position.candidates.all %}
                  <option value="{{ candidate.name }}">{{ candidate.name }}</option>
                {% endfor %}
              </select>
          </fieldset>
          {% else %}
          <!-- One candidate -->
          <fieldset>
            <h2 class="fs-title text-primary text-uppercase">{{ position.name }}</h2>
            <table class="table table-hover table-condensed hide-all-big-screen" id="cssTable">
              {% for candidate in position.candidates.all %}
                <tr>
                  <td><img src="{{ candidate.image.url }}" width="120" height="120" class="img-rounded img-responsive img-thumbnail"/></td>
                  <td width="300px" align="center">{{ candidate.name|upper }}</td>
                  <td align="right" width="50px">
                      <button type="button" class="next action-button" name="{{ position.name }}" id="{{ candidate.name }}" onclick="f1(this)"><i class="fa fa-check-square-o"></i> Yes</button>
                      <button type="button" class="next action-button2" name="{{ position.name }}" id="No" onclick="f1(this)"><i class="fa fa-times-circle-o"></i> No</button>
                  </td>
                </tr>
              {% endfor %}
            </table>

            <div class="row hide-all-small-screen">
              {% for candidate in position.candidates.all %}
                <div class="col-sm-12" align="center" style="margin-top:5% !important;">
                  <div>
                      <div style="margin-bottom:1% !important;"><strong>{{ candidate.name|upper }}</strong></div>
                      <div><img src="{{ candidate.image.url }}" width="180" height="180" name="{{ position.name }}" id="{{ candidate.name }}" onclick="f1(this)" class="img-rounded img-responsive img-thumbnail next" /></div>
                      <div style="margin-bottom:5% !important;">
                          
                      <button type="button" class="next action-button" name="{{ position.name }}" id="{{ candidate.name }}" onclick="f1(this)"><i class="fa fa-check-square-o"></i> Yes</button>
                      <button type="button" class="next action-button2" name="{{ position.name }}" id="No" onclick="f1(this)"><i class="fa fa-times-circle-o"></i> No</button>
                      </div>	
                  </div>		
                </div>
              {% endfor %}
            </div>

            <select name="{{ position.name_underscore }}" id ="{{ position.name }}" style="height: 51px; display: none;">
              <option value="No">No</option>
              {% for candidate in position.candidates.all %}
                <option value="{{ candidate.name }}">{{ candidate.name }}</option>
              {% endfor %}
            </select>

          </fieldset>
          {% endif %}
      {% endfor %}
  
  </form>

</div>

{% endblock content %}

{% block scripts %}
{% load static %}
<script type="text/javascript">
  //jQuery time
  var current_fs, next_fs, previous_fs; //fieldsets
  var left, opacity, scale; //fieldset properties which we will animate
  var animating; //flag to prevent quick multi-click glitches

  $(".next").click(function(){
      if(animating) return false;
      animating = true;
      current_fs = $(this).parent().parent().parent().parent().parent();
      next_fs = $(this).parent().parent().parent().parent().parent().next();
      //activate next step on progressbar using the index of next_fs
      $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");


      //show the next fieldset
      next_fs.show();
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
          step: function(now, mx) {
              //as the opacity of current_fs reduces to 0 - stored in "now"
              //1. scale current_fs down to 80%
              scale = 1 - (1 - now) * 0.2;
              //2. bring next_fs from the right(50%)
              left = (now * 50)+"%";
              //3. increase opacity of next_fs to 1 as it moves in
              opacity = 1 - now;
              current_fs.css({'transform': 'scale('+scale+')'});
              next_fs.css({'left': left, 'opacity': opacity});
          },
          duration: 800,
          complete: function(){
              current_fs.hide();
              animating = false;
          },
          //this comes from the custom easing plugin
          easing: 'easeInOutBack'
      });
      
      //check for the last one and submit
      var counterCheck = $(this).parent().parent().parent().parent().parent().nextAll().length;
      if(counterCheck==0){
          document.getElementById("msform").submit();
          //console.log(counterCheck)
      }
  });

  function f1(objButton){
      document.getElementById(objButton.name).value =objButton.id;
  }
 
</script>
{% endblock scripts %}