{% extends 'admins/auth/layout.html' %}
{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
      <a href="">e<b>PowerHouse</b></a>
    </div>

    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg font-weight-bold"> <i class="fa fa-thumbs-up"></i> Sign in to cast your vote</p>
      <div class="text-danger text-center">
        {% if messages %}
            {% for message in messages %}
            <p class="errornote">
              {{ message }}
            </p>
            {% endfor %}
        {% endif %}
      </div>
      <form action="" method="POST" id="formLogin">
        {% csrf_token %}
        <div class="form-group has-feedback validate">
          <input type="text" name="access_number" id="access_number" oninput="getCaps('access_number')" class="form-control font-weight-bold" style="font-size: 20px;" placeholder="Enter Access Number" autofocus />
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <span class="text-danger small mySpan"></span>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <button type="submit" class="btn btn-primary btn-raised btn-block btn-flat btnLogin">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.login-box-body -->
  </div>
<!-- /.login-box -->
{% endblock content %}

{% block scripts %}
{% load static %}
<script>
  $("#formLogin").on("submit", function(e){
    e.stopPropagation();
    var $this = $(this);
    var valid = true;
    $('#formLogin input').each(function() {
        let $this = $(this);
        
        if(!$this.val()) {
            valid = false;
            $this.parents('.validate').find('.mySpan').text('The '+$this.attr('name').replace(/[\_]+/g, ' ')+' field is required');
        }
    });

    if(valid){
        $(".btnLogin").html('<i class="fa fa-spin fa-spinner"></i> Signing...').attr('disabled',true);
        return true;
    }
    return false;
});

//remove error message if inputs are filled
$("input").on('input', function(){
  if($(this).val()!=''){
      $(this).parents('.validate').find('.mySpan').text('');
  }else{ $(this).parents('.validate').find('.mySpan').text('The '+$(this).attr('name').replace(/[\_]+/g, ' ')+' field is required'); }
});


function getCaps(field){
  var valField = document.getElementById(field).value;
  document.getElementById(field).value=valField.toUpperCase();
}
</script>
{% endblock scripts %}